@model GroupViewModel

<form asp-controller="Groups" asp-action="CreateReallyAsync" method="post">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" />
    <button type="submit">Create</button>
</form>