@model GroupViewModel

<form asp-controller="Groups" asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" />
    <button type="submit">Save</button>
</form>